<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineCritic</title>
    <link rel="stylesheet" href="~/css/Index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <!--SOL NAV-BAR-->
    <div class="Sol-navbar">
        <ul class="Sol-navbar-ul">
            <li><a href="/Home/Ana">Home</a></li>
            <li><a href="/Home/Film">Movies</a></li>
            <li><a href="/Home/Login">Login</a></li>
            <li><a href="/Home/Register">Signup</a></li>
        </ul>
    </div>

    <!--Film-Container-->
    <div class="all-container">
        @RenderBody()
    </div>
    




</body>
</html>

